{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/reg0.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
{%if not user.is_authenticated%}

<form action="#" method="post">
  {%csrf_token%}
  <input type="text" placeholder="Username" name=username> <br>
  <input type="Password" placeholder="password" name=password> <br>
  <input type="checkbox"name= "RememberMe"> Remember Me <br>
  <input type="submit" value="Login">
</form>
{%else%}
{{user.username}}
<form method="Get">
    <input type="submit">
</form>
{%endif%}
</div>
</body>
</html>
