{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{%url 'index'%}">SAS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <a class="nav-link" href="{%url 'index'%}">Home
            <span class="sr-only">(current)</span>
          </a>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_videos'%}">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_handouts'%}">Handouts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_slides' %}">Slides</a>
          </li>
          <li class='dropdown'>
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" style="display:nonee">Admin Tools<span class="caret"></span></a>
            <ul class="dropdown-menu bg-dark">
              <li ><a class="nav-link"  href="{% url 'add_video' %}">Add Videos</a></li>
              <li ><a class="nav-link"  href="{% url 'add_slides' %}">Add Slides</a></li>
              <li ><a class="nav-link"  href="{% url 'add_handouts' %}">Add Handouts</a></li>
              <li ><a class="nav-link"  href="{% url 'add_worksheet' %}">Add Worksheet Questions</a></li>
            </ul>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content%}
    {%endblock%}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
  <footer><h6 class="text-center">Have a great 2019</h6></footer>


  </html>
