{%extends 'base.html'%}

{% block content%}
  <!-- Page Content -->
  <title>Add Videos | SAS</title>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" >
        <form action="{% url 'add_video' %}" method="post">
          {% csrf_token %}
          <br>
          <input class="col-md-5 form-control" type="text" width="150px" name="url" value="" placeholder="Input Youtube Video URL" onclick="this.placeholder=''" required><br>
          <!-- TODO: any ui is better than this -->
          <select class="col-md-5 form-control" name="dept">
            {% for i in dept %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor%}
          </select>
          <br>
          <select class="col-md-5 form-control" name="sub">
            {% for i in sub %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor%}
          </select><br>
          <input class="col-md-2 form-control" type="submit" name="" value="Add"><br>
        </form>

      </div>
    </div>
  </div>
  {%endblock%}
