<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Video</title>
  </head>
  <body>
    <form action="{% url 'add_video' %}" method="post">
      {% csrf_token %}
      <input type="text" name="url" value="" placeholder="INPUT URL"><br>
      <!-- TODO: any ui is better than this -->
      <select name="dept">
        {% for i in dept %}
          <option value="{{i.id}}">{{i.name}}</option>
        {% endfor%}
      </select>
      <select name="sub">
        {% for i in sub %}
          <option value="{{i.id}}">{{i.name}}</option>
        {% endfor%}
      </select>
      <input type="submit" name="" value="Submit"><br>
    </form>
  </body>
</html>
