{%extends 'base.html'%}

{% block content%}
<div class="container">

<form action="{% url 'add_worksheet' %}" method="post">
  {% csrf_token %}
  <br>
    <!-- page1
    select department subject chapter
    pos   <++++=+++++> a
    page 2
    select question_type question_text
    page 3
    select choices explanation hint
    go back out, add to db and reset
    go to a -->

    {% if q_type_choice %}

      {% if q_type_choice == 'MC' %}
        <textarea class="form-control" name="choiceAnswer" rows="8" cols="80" placeholder="Answer Here"></textarea>
        <textarea class="form-control" name="choice2" rows="8" cols="80" placeholder="Choice Here"></textarea>
        <textarea class="form-control" name="choice3" rows="8" cols="80" placeholder="Choice Here"></textarea>
        <textarea class="form-control" name="choice4" rows="8" cols="80" placeholder="Choice Here"></textarea>
      {% elif q_type_choice == 'SA' %}
        <textarea class="form-control" name="choiceAnswer" rows="8" cols="80"></textarea>
      {% elif q_type_choice == 'FITB' %}
        <textarea class="form-control" name="choiceAnswer" rows="8" cols="80"></textarea>
      {% else %}
        <select class="form-control" name="choiceAnswer">
          <option value="T">True</option>
          <option value="F">False</option>
        </select>
      {% endif%}
      <textarea class="form-control" name="explain" rows="8" cols="80" placeholder="Explanation(Optional)"></textarea>
      <textarea class="form-control" name="hint" rows="8" cols="80" placeholder="Hint(Optional)"></textarea>
      <input class="form-control" type="submit" value="finish">
      <input class="form-control" type="hidden" name="dept" value="{{dept_choice.id}}">
      <input class="form-control" type="hidden" name="sub" value="{{sub_choice.id}}">
      <input class="form-control" type="hidden" name="chap" value="{{chap_choice}}">
      <input class="form-control" type="hidden" name="q_type" value="{{q_type_choice}}">
      <input class="form-control" type="hidden" name="q_text" value="{{q_text_choice}}">
    {% elif dept_choice %}

      <select class="form-control" name="q_type">
        {% for i in types %}
          <option value="{{i.1}}">{{i.0}}</option>
        {% endfor %}
      </select>
      <textarea class="form-control" name="q_text" rows="4" cols="40" placeholder="Question HERE"></textarea>
      <input class="form-control" type="submit" name="" value="next">
      <input class="form-control" type="hidden" name="dept" value="{{dept_choice.id}}">
      <input class="form-control" type="hidden" name="sub" value="{{sub_choice.id}}">
      <input class="form-control" type="hidden" name="chap" value="{{chap_choice}}">
    {% else %}


    <select class="form-control col-md-5" name="dept">
      {% for i in dept%}
        <option value="{{i.id}}">{{i.name}}</option>
      {% endfor %}
    </select>
    <select  class="form-control col-md-5" name="sub">
      {% for i in sub%}
        <option value="{{i.id}}">{{i.name}}</option>
      {% endfor %}
    </select>
    <input class="form-control col-md-5" type="text" name="chap" value="" placeholder="Input Chapter" required>
    <input class="form-control col-md-3" type="submit" name="" value="next">
    {% endif %}
</form>
</div>

{%endblock%}
