{%extends 'base.html'%}
{% block content%}
{%load static%}
  <title>Videos | SAS</title>
  <div class="container">
    <br><br>
    <form class="form-inline my-2 my-lg-0" method="post">
      {%csrf_token%}
      <input class="form-control mr-sm-2 col-md-9" name="bar" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>
    <!-- Page Heading -->
    {%if term%}
    <h1 class="my-4">Search results for
      <small>"{{term}}"</small>
    {%endif%}
    </h1>
    {%for i in vids%}
    <div class="row">
      <div class="col-md-4">
        <a href="/view_video/?id={{i.url}}">
          <img src="https://img.youtube.com/vi/{{i.url}}/0.jpg" width="300px" height="300px" alt="{{i.name}}">
        </a>
      </div>
      <div class="col-md-4">
        <br>
        <br>
        <a href="/view_video/?id={{i.url}}">{{i.name}}</a>
      </div>
    </div>
    <hr>
    {% endfor %}
    <hr>
    <!-- <hr> -->
{%endblock%}
