{%extends 'base.html'%}

{% block content%}
<br>
<div class="container">

YOU HAVE ANSWERED {{answered_num}} ITEMS CORRECTLY <br><hr>
  {% for i in answered%}
  Question: {{i}} <br><p style="color:green">  Answer: {{i.answer.get.choice_text}} </p><br>
  {%endfor%}

YOU HAVE INCORRECTLY ANSWERED {{unanswered_num}} ITEMS  <br><hr>
<div class="red">
  {% for i in  not_answered%}
  Question: {{i}} <br><p style="color:red">  Answer: {{i.answer.get.choice_text}} </p><br>
  {%endfor%}
</div>
</div>
{%endblock%}
