
{%extends 'base.html'%}
{% block content%}
{% load static %}
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{title}} </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <iframe width="704" height="386" src="https://www.youtube.com/embed/{{id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Video Description</h3>
      <p>{{desc}}</p>
      <h3 class="my-3">Dowload video</h3>
      <ul>
        {%for i in dlinks%}
        <li><a class="btn-primary" href="{{i.url}}" download="{{title}}">Download {{i.resolution}}</a>  </li>
        {%endfor%}
      </ul>
    </div>

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Videos</h3>
    <div class="row">
      <!-- TODO: UIIIIII -->
      {% for i in other %}
      <div class="col-md-3 col-sm-6 mb-4" width=100px>
        <a href="/view_video/?id={{i.url}}">
          <img src="https://img.youtube.com/vi/{{i.url}}/1.jpg" alt="{{i.name}}">
          <p>{{i.name}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{%endblock%}
